body {
    font-family: Arial, sans-serif;
    paddinng: 0; 
    margin: 0;
}

#bg {
        position:fixed;
        z-index: -1;
        top:0;
        left:0; 
        min-width:100%;
        min-height:100%;
}

b {
    color: LawnGreen;
}

.clearfix:after { 
    content:'';
    display: table;
    width: 100%;
    clear: both;
}

.container {
    width: 900px;
    margin: 0 auto;
    font-size: 16pt;
}

h1 {
    font-family: cursive;
    text-transform: uppercase;
    text-align: center;
}

.service {
    margin: 0 0 0 40px;
}

.number1 {
    padding-left: 140px;
    font-size: 17pt;
}

.number2 {
    padding-left: 200px;
    font-size: 17pt;
}

.place {
    text-align: center;
    color: white;
    font-size: 15pt;
    background-color: black;
    border-radius: 40px;
    padding: 1px 15px 25px 15px;
}

.centrmap {
    display:flex;
    justify-content: center;
}




